/* based on example from https://dev.to/supanthapaul/create-a-simple-navbar-with-7-lines-of-css-4h7f */

* {
    padding: 0;
    margin: 0;
}

hr, h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#main {
    padding: 1rem 2rem;
    margin: 5px;
}

#footer-content {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    background: #75faf3;
}

body {
    font-family: Arial, Tahoma, Serif;
    color: #263238;
}

nav {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    background: #75faf3;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 1rem;
}
